/* Style général */
.root {
    -fx-font-family: Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #eaeaea;
}

/* Style des titres */
.text {
    -fx-font-weight: bold;
    -fx-fill: #0078d7;
}

/* Style des labels */
.label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Style des champs de texte */
.text-field {
    -fx-border-color: #0078d7;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-background-color: #ffffff;
}

/* Style des boutons radio */
.radio-button {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

/* Style des boutons */
.button {
    -fx-background-color: #4caf50; /* Couleur verte */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #45a049;
}

/* Style de la description */
.label.description {
    -fx-text-fill: #555555;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-padding: 10px;
}

/* Style de la grille */
.grid-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #0078d7;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 5);
}
